
body {
    background-color: #3c7d9b;
}

.gen-button {
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
    width: 190px;    
}

.screen-image {
    background-repeat: no-repeat;
    width: 80%;
    top: 12%;
    z-index: 1;
    position: absolute;
    left: 10%;
    
}

.image-display {
    position: absolute;

}

.background{
    background-image: url(../images/belt.svg),url(../images/gears.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover, 100%;
}

.machine-name {
    z-index: 4;
    font-size: 50px;
    color: white;
    position: fixed;
    top: -3%;
    left: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    font-size: 20px;
}

.title{
    text-align: center;
    padding-top: 43%;
}

.titleColor{
    font-size: 3vw;
    color: white;
    margin-left: 65%;
    position: absolute;
    top: 0%;
}

.subtitleColor{
    color: #fcc947;
    margin-left: 37.5%;
    font-size: 2vw;
    position: absolute;
    top: 11%;
}

.button{
    margin-top: 21%;
    height: auto;
    padding: 2.5%;
    padding-left: 1.6%;
    margin-bottom: 50%;
    width: 14.7%;
    font-size: 1.5vw;
    color: #fcc947;
    font-weight: bold;
    background-color: transparent;
    text-decoration: underline;
    position: fixed;
    left: 43%;
}

/*image button for actual button */
.meme-button {
    position: fixed;
    top: 72%;
    z-index: 2;
    height: 180px;
    left: 42%;
}

/* meme generator button */
.button_2 {
    height: 180px;
    width: 180px;
    font-size: 15px;
    color: white;
    text-indent: 21px;
    font-weight: bold;
    background-color: transparent;
    text-decoration: underline;
    position: fixed;
    top: 72%;
    left: 42%;
    border-radius: 50%;
    z-index: 2;
    border-color: transparent;
}

.circle-1 {
    background: red;
    border-radius: 50%;
    position: fixed;
    top: 18%;
    left: 3%;
    width: 50px;
    height: 50px;
    z-index: 3;
    animation: blink 1s steps(1, end) infinite;
}
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.meme-image {
    position: fixed;
    max-height: 58%;
    max-width: auto;
    left:37%;
    width: auto;
    height: 100%;
    z-index: 1;
    margin-top: 5.6%;
    display: flex;
    flex-shrink: 4;    
}

.meme {
    background-color: grey;
    width: 50%;
    height: 50%;
    border: 2px solid black;
    padding: 50px;
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 10%;
}

.appTitle {
    padding-top: 30px;
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
}