<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cloud Comp Final</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="background">
<div class = "title">

    <h1 class = "titleColor">
        MEME GENERATOR
    </h1>
    <strong class="subtitleColor">
        Group 1
    </strong>
    <br>
    <form action="{{ url_for('get_items') }}" method="get">
        <input type="submit" value="Start Here!"class="button">
    </form>
</div>

</body>
</html>
