
body {
    background-color: #3c7d9b;
}

.gen-button {
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
    width: 190px;    
}

.screen-image {
    background-repeat: no-repeat;
    width: 80%;
    top: 12%;
    z-index: 1;
    position: absolute;
    left: 10%;
}

.image-display {
    position: absolute;

}

.background{
    background-image: url(./images/belt.svg),url(./images/gears.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover, 100%;
}

/*
.gen-button {
    position: absolute;
    left: 43%;
    top: 20%;
}
*/


form {
    font-size: 20px;
}

.title{
    text-align: center;
    padding-top: 300px;
}

.titleColor{
    color: white;
    position: absolute;
    left: 65%;
    bottom: 87%;
    font-size: 40px;
}

.subtitleColor{
    color: #fcc947;
    margin: 10px;
    font-size: 29px;
    position: absolute;
    left: 87%;
    bottom: 83%;
}

.button{
    margin-top: 20px;
    height: 90px;
    width: 190px;
    font-size: 20px;
    color: #fcc947;
    font-weight: bold;
    background-color: transparent;
    text-decoration: underline;
}


.meme-button {
    position: absolute;
    top: 31em;
    z-index: 2;
    height: 180px;
    left: 33em
}

.button_2 {
    height: 120px;
    width: 120px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: transparent;
    text-decoration: underline;
    position: absolute;
    top: 28.7em;
    left: 31.9em;
    border-radius: 50%;
    z-index: 2;

}

.circle-1 {
    background: red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 3;
    animation: blink 1s steps(1, end) infinite;
}
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.meme-image {
    position: absolute;
    left: 38em;
    top: 17em;
    z-index: 1;
}

.meme {
    background-color: grey;
    width: 50%;
    height: 50%;
    border: 2px solid black;
    padding: 50px;
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 10%;
}

.generatorButton {
    display: block;
    width: 15%;
    border: none;
    background-color: green;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

.generatorButton:hover {
    background-color: rgb(129, 216, 129);
    color: black;
}

.appTitle {
    padding-top: 30px;
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
}

