body {
    background-color: #3c7d9b;
}

.gen-background {
    background-image: url(./images/gen-screen.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 525px;
}

.image-display {
    position: absolute;

}

.background{
    background-image: url(./images/belt.svg),url(./images/gears.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover, 100%;
}

.gen-button {
    position: absolute;
    left: 43%;
    top: 20%;
}

form {
    font-size: 20px;
}

.title{
    text-align: center;
    padding-top: 300px;
}

.titleColor{
    color: white;
    position: absolute;
    left: 65%;
    bottom: 87%;
    font-size: 40px;
}
.subtitleColor{
    color: #fcc947;
    margin: 10px;
    font-size: 29px;
    position: absolute;
    left: 87%;
    bottom: 83%;
}
.button{
    margin-top: 20px;
    height: 90px;
    width: 190px;
    font-size: 20px;
    color: #fcc947;
    font-weight: bold;
    background-color: transparent;
    text-decoration: underline;
}

.button_2 {
    height: 90px;
    width: 190px;
    font-size: 20px;
    color: #fcc947;
    font-weight: bold;
    background-color: transparent;
    text-decoration: underline;
    position: absolute;
    top: 25em;
    left: 24em;
}
.meme {
    background-color: grey;
    width: 50%;
    height: 50%;
    border: 2px solid black;
    padding: 50px;
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 10%;
}

.generatorButton {
    display: block;
    width: 15%;
    border: none;
    background-color: green;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

.generatorButton:hover {
    background-color: rgb(129, 216, 129);
    color: black;
}

.appTitle {
    padding-top: 30px;
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
}

